.tooltipEl {
    width: 50%;
    aspect-ratio: 1/1;
    border: 2px solid #fff;
    position: relative;
    bottom: calc(100% * 0.5 * 0.5);
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    color: white;
    opacity: 1;
    transition: all .1s ease;
    overflow: hidden;
    text-align: center;
    visibility: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

span {
    margin-top: 1.5rem;
}

h3 {
    font-size: 2em;
    width: 100%;
}

.repos {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    list-style: none;
    overflow-y: scroll;
    scrollbar-width: 0;
}

.repos::-webkit-scrollbar {
    display: none;
}

li {
    height: fit-content;
    width: fit-content;
    border-radius: 1rem;
    padding: 0.1rem 0.4rem;
    margin-bottom: 0.5rem;
    pointer-events: auto;
    display: inline-flex;
}

li > a {
    text-decoration: none;
    color: #fff;
}

li > a:hover {
    color: inherit;
    opacity: 0.75;
}