.tooltipEl {
    height: 49%;
    width: 49%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    color: white;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    transition: all .1s ease;
    overflow: hidden;
    text-align: center;
}

.repos {
    list-style: none;
    padding: 0;
}

ul {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

li {
    height: auto;
    width: fit-content;
    margin-right: 1rem;
    pointer-events: auto;
}

li:last-child {
    margin-right: 0;
}