.tooltipEl {
    height: 50%;
    width: 50%;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    color: white;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, 0);
    transition: all .1s ease;
    overflow-y: scroll;
}

.repos {
    list-style: none;
    padding: 0;
}

li {
    pointer-events: auto;
}