.pieChart {
    height: 70%;
    margin: 0;
    padding: 0;
}

.top {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot {
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 50%;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: 5%;
}

.doughnut {
    height: 100%;
    width: 100%;
}