.pieChart {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
}

.icon {
    width: 50%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    position: relative;
    top: calc(100% * 0.5 * 0.5);
}

.doughnut {
    width: 100%;
    aspect-ratio: 1/1;
    max-width: 100%;
    position: absolute;
}

@media (min-aspect-ratio: 422/626) {
    .icon {
        height: 50%;
        aspect-ratio: 1/1;
        max-width: min-content;
    }

    .doughnut {
        height: 100%;
        aspect-ratio: 1/1;
        max-height: 100%;
    }
}