.pieChart {
    height: 100vmin;
    width: 100vmin;
    margin: 0;
    padding: 0;
}

@media (min-aspect-ratio: 1/1) {
    .pieChart {
        height: 70vmin;
        width: 70vmin;
    }
}

.top {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bot {
    height: 100%;
    width: 100%;
    position: relative;
    bottom: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    width: 49%;
    border-radius: 50%;
    margin: auto;
}

.doughnut {
    height: 100%;
    width: 100%;
}