.layout {
    height: 100vh;
    width: 100vw;
    padding: 2rem 1rem;
    display: grid;
    grid-template-areas: 
        "input"
        "header"
        "chart"
        "footer";
    grid-template-rows: 6% 18% 70% 6%;
    grid-template-columns: 1fr;
}