.pie {
    height: 10rem;
    width: 10rem;
}

.piece {
    height: 10rem;
    width: 10rem;
    border: 1px solid red;
    border-radius: 50%;
    position: absolute;

    &__0 {
        background-color: #0d6efd;
    }
    
    &__1 {
        background-color: #6c757d;
    }
    
    &__2 {
        background-color: #198754;
    }
    
    &__3 {
        background-color: #dc3545;
    }
    
    &__4 {
        background-color: #ffc107;
    }
}