.container {
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
}

.icon {
    width: 40%;
    border-radius: 50%;
    margin: auto;
    border: 1px solid red;
    position: relative;
    top: 35%;
    left: 30%;
}

.doughnut {
    border: 1px solid red;
}