.cnt {
    height: 75vw;
    width: 75vw;
    margin: 0;
    padding: 0;
}

.topContainer {
    height: 100%;
    width: 100%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botContainer {
    height: 100%;
    width: 100%;
    border: 1px solid red;
    position: relative;
    bottom: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* adjusting canvas unadjusted height */
    padding-bottom: 2.25%;
}

@media (min-aspect-ratio: 1/1) {
    .botContainer {
        padding-bottom: 1.25%;
    }
}

.icon {
    width: 45%;
    border-radius: 50%;
    border: 1px solid red;
    margin: auto;
    position: relative;
}

.doughnut {
    height: 75%;
    width: 75%;
}