.cnt {
    height: 1rem;
    width: 100vw;
    padding: 0;
    border-radius: 1rem;
    margin: 0;
    overflow-x: hidden;
}

.cylonEye {
    height: 100%;
    width: 15%;
    border-radius: 1rem;
    position: relative;
    background-color: #0d6efd;
    animation:
        movingEye
        1.5s
        ease-in-out
        infinite
        alternate;
}

@keyframes movingEye {
    0% {
        left: -10%;
        width: 15%;
    }

    50% {
        width: 33%;
    }

    100% {
        left: 95%;
        width: 15%;
    }
}